{% extends 'base.html' %}
{% block title %}Dstagram - {{ object.title }}{% endblock %}
{% block content %}
<h1 style="text-align: center">{{ object.title }}</h1>
<img src="{{ object.photo.url }}" style="max-width: 100%"/>
<p>{{ object.text }}</p>
{% if user.get_username == object.author.username %}
<a class="btn btn-danger" href="{% url 'photo:photo_delete' object.id %}" role="button">삭제</a>
<a class="btn btn-info" href="{% url 'photo:photo_update' object.id %}" role="button">수정</a>

{% endif %}
{% endblock %}